/* 评价样式 */
.pingjialine {
	width: 100%;
	height: 1rpx;
	background-color: #969696;
	
}

.pingjia-title {
	font-size: 28rpx;
	color: #969696;
}

.star-wrap {
	width: 38%;
}

.pingjia-star {
	color: #E1E1E1;
	margin-right: 12rpx;
}

.com-list-wrap {
	margin-top: 20rpx;
	color: #969696;
}

.pingjia-all-star {
	width: 100%;
}

.score {
	font-size: 26rpx;
}

/**清除浮动 **/
.com-user-star {
	display: flex;
	align-items: center;
	margin-top: 20rpx;
}

.com-user-star::after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}

.com-user-avatar {
	width: 86rpx;
	height: 76rpx;
	border-radius: 50%;
	float: left;
}

.com-user-nickname {
	float: left;
	width: 65%;
	height: 100%;
	margin-left: 14rpx;
	white-space: nowrap;
}

.checkstar {
	color: #FFAC4B;
}

.com-time {
	text-align: right;
	position: absolute;
	right: 10rpx;
	

}

.com-content {
	padding-left: 12%;
	margin-left: 20rpx;
	margin-right: 10rpx;
	height: 60rpx;
}

.list-star-wrap {
	text-align: right;
	margin-left: 20rpx;
}

/* 空空 */
.kong-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 800rpx;
}

.kong-info {
	width: 200rpx;
	height: 200rpx;
	text-align: center;
}

.kong-ping-img {
	width: 170rpx;
	height: 150rpx;
}

.kong-ping-txt {
	display: block;
	width: 100%;
	text-align: center;
	color: #969696;
}
